/* app css stylesheet */

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

*,*:after,*:before {
  box-sizing: border-box;
}

.col-block {
  float: left;
  width: 50%;
  margin-top: 30px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

input {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

button {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
}

button:hover,
button:focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

button:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.row:before,
.row:after {
  display: table;
  content: " ";
  clear: both;
}

.synonyms-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.synonyms-list li span{
  display: inline-block;
  padding: 3px 5px;
  margin-bottom: 5px;
  background-color: rgb(252, 187, 69);
}

h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}